.header {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 10px;
    background-color: #3E8C8C;
  }
  
  .menu {
    flex: 1;
    text-align: left;
  }
  
  .logo {
    flex: 7;
    width: 100px;
    height: auto;
  }
  
  .avatar {
    flex: 1;
    text-align: right;
  }  